<div id="<%= dom_id bike %>">
  <p>
    <strong>Name:</strong>
    <%= bike.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= bike.category %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= bike.stock %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= bike.price %>
  </p>

</div>
